.project-detail {
  padding: var(--space-m);
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    margin-bottom: var(--space-l);
  }

  &__title {
    font-size: var(--font-size-xxxl);
    font-weight: bold;
    margin-bottom: var(--space-xs);
  }

  &__description {
    color: var(--color-text-muted);
    margin-bottom: var(--space-m);
  }

  &__status {
    display: flex;
    align-items: center;
    gap: var(--space-m);
  }
}
