.project-status {
  display: inline-block;
  padding: var(--space-xxs) var(--space-xs);
  font-size: var(--font-size-s);
  border-radius: var(--border-radius);
  background-color: var(--color-light);
}
